header {
  display: flex;
  flex-direction: row;

  align-items: center;

  padding: 3.1rem 8rem;

  .logo {
    margin-right: auto;
  }

  .nav-list {
    display: flex;
    gap: 2.55rem;

    &__item {
      list-style: none;

      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 0 25rem;

  font-size: 1.4rem;

  .company {
    a {
      text-decoration: none;
      color: black;
    }
  }

  .sign {
    margin-left: 4.5rem;
    margin-top: 0.5rem;
  }

  .terms {
    a {
      text-decoration: none;
      color: black;
    }
  }
}

.main-home {
  &__title {
    font-family: 'Bitter', serif;
    font-weight: 400;
    font-size: 3.8rem;
    line-height: 4.56rem;
    margin-top: 2.5rem;
  }

  &__description {
    margin-top: 2.1rem;
    color: #93918f;
  }

  &__button {
    background-color: #fdb755;
    width: 21.7rem;
    height: 3.6rem;
    border-radius: 0.4rem;
    margin-top: 4.5rem;
    text-align: center;

    a {
      text-decoration: none;
      color: white;
      text-transform: uppercase;
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 3.6rem;
    }
  }

  &__search {
    font-weight: 500;
    color: #93918f;
    margin-top: 4.6rem;

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  &__screenshot {
    margin-top: 3.6rem;
  }

  &__section {
    width: 73.8rem;

    margin-top: 13.3rem;

    &.about {
      margin-top: 10.7rem;
    }

    &__title {
      font-family: 'Bitter', serif;
      font-size: 2.4rem;
      font-weight: 400;
      margin-bottom: 2rem;
    }

    &__list {
      position: relative;
      list-style: none;

      &__item {
        font-size: 1.6rem;
        color: #93918f;
        margin-bottom: 0.74rem;
        padding-left: 0.9rem;
      }

      &__item::before {
        position: absolute;
        content: '• ';
        color: inherit;
        left: 0;
      }
    }

    &__about-description {
      font-size: 1.6rem;
      color: #93918f;
      line-height: 2.7rem;
      margin-top: -0.3rem;

      a {
        text-decoration: none;
        color: #2087ff;
      }
    }
  }
}

.main-search {
  &__title {
    font-family: 'Bitter', serif;
    font-weight: 400;
    font-size: 3.8rem;
    line-height: 4.56rem;
    margin-top: 2.5rem;
  }

  &__search {
    position: relative;
    width: 50rem;
    padding-left: 1.7rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    margin-top: 2.9rem;
    color: #9e9e9e;

    &__label {
      position: absolute;
      color: #9e9e9e;
      top: 0.9rem;
      left: 0rem;
    }

    input {
      width: 37.1rem;
      height: 3.6rem;
      margin: 0 1rem 0 1rem;

      font-family: 'Montserrat', sans-serif;
      font-size: 1.4rem;
      color: black;

      border-radius: 0.2rem;
      border: 0.1rem solid #e6e6e6;

      padding: 0rem 1.7rem;
    }

    button {
      font-size: 1.4rem;
      font-weight: 500;
      width: 9.2rem;
      height: 3.6rem;
      border-radius: 0.4rem;
      background-color: #fdb755;
      color: white;
      text-transform: uppercase;
      border: none;
      letter-spacing: 0.17rem;
      cursor: pointer;
    }
  }
}

#loading {
  display: inline-block;
  margin-top: 5.6rem;
  width: 7.1rem;
  height: 7.1rem;
  // border: 0.6rem solid rgba(255, 255, 255, 0.3);
  border: 0.6rem solid #feb756;
  border-radius: 50%;
  border-top-color: white;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.calendar {
  border-collapse: collapse;
  margin-top: 6rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  font-weight: 500;

  thead {
    tr {
      text-align: center;
      color: #787878;
      height: 5.2rem;

      background: linear-gradient(
        0deg,
        rgba(233, 233, 233, 1) 0%,
        rgba(254, 254, 254, 1) 100%
      );

      td:first-child {
        background: white;
      }
    }
  }

  tbody {
    tr {
      th {
        text-align: center;
        width: 15.4rem;
        color: white;
        background-color: #1e2537;
      }

      td {
        width: 4rem;
        height: 4rem;
        text-align: center;
        // border: 0.1rem solid grey;

        font-weight: 700;
        color: white;

        &.color-0 {
          background-color: #e0e592;
        }
        &.color-1 {
          background-color: #aed396;
        }
        &.color-2 {
          background-color: #a9d194;
        }
        &.color-3 {
          background-color: #a0ce93;
        }
        &.color-4 {
          background-color: #99cd94;
        }
        &.color-5 {
          background-color: #8cc894;
        }
        &.color-6 {
          background-color: #5eb391;
        }
        &.color-7 {
          background-color: #5db492;
        }
        &.color-8 {
          background-color: #5cb391;
        }
        &.color-9 {
          background-color: #5aad8c;
        }
        &.color-10 {
          background-color: #3984a3;
        }
      }
    }
  }
}
