header {
  display: flex;
  flex-direction: row;

  align-items: center;

  padding: 3.1rem 8rem;

  .logo {
    margin-right: auto;
  }

  .nav-list {
    display: flex;
    gap: 2.55rem;

    &__item {
      list-style: none;

      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}
