@import-normalize;
@import url('https://fonts.googleapis.com/css?family=Bitter|Montserrat');

:root {
  /*   color variables */
  --clr-primary: #6aeeb5;
  --clr-primary-hover: #29e6a7;
  --clr-primary-dark: #039d69;
  --clr-gray100: #f0f7f8;
  --clr-gray200: #cfd8dc;

  /*   border radius */
  /* --radius: 0.2rem; */
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  /* background: var(--clr-gray100); */
  padding: 0px;
  margin: 0px;
}

.nav-list {
  /* background: white; */
  padding: 32px 80px 39px 0px;
  margin: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-item {
  list-style: none;
  margin-left: 25px;
}

.nav-item a {
  text-decoration: none;
  color: black;
  /* transition: all 200ms ease-in; */
}

.nav-item a:hover {
  /* color: var(--clr-primary-dark); */
}

.nav-item:first-child {
  margin-right: auto;
  margin-left: 80px;
}

/* FOOTER */
.footer-list {
  /* background: white; */
  font-size: 14px;
  padding: 32px 250px 39px 250px;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-item {
  list-style: none;
  margin-left: 25px;
}

.footer-item a {
  text-decoration: none;
  color: black;
  /* transition: all 200ms ease-in; */
}

.footer-item a:hover {
  /* color: var(--clr-primary-dark); */
}

.nav-item:first-child {
  margin-right: auto;
  margin-left: 80px;
}
